{% extends "layout.html.twig" %}

{%block main %}

    <section class="about-page">
        <h2>À propos de nous</h2>
        <div class="logo-container">
          <img src="./assets/images/logo-asso-renais-sance.jpg" alt="logo de l'association renais'sance">
        </div>
        <p>
            L'Association Renais'sance, basée à Rennes, œuvre activement pour établir et renforcer les liens de solidarité et d'égalité entre les personnes, quel que soit leur âge, origine ou horizon. Notre mission est de soutenir et accompagner ceux qui en ont besoin en facilitant leur intégration à travers divers moyens d'accompagnement adaptés. Qu'il s'agisse de questions liées à la santé, à l'administration, à l'éducation, à la culture, au logement ou à l'alimentation, nous sommes présents pour aider, orienter et conseiller.
        </p>
        <p>
            Nous rassemblons également des bénévoles motivés afin de répondre de manière adéquate aux exigences sociales et autres, en leur fournissant des formations et des ressources essentielles. L'échange d'informations, d'expériences et de conseils est au cœur de notre approche pour garantir une société plus inclusive et solidaire.
        </p>
        <p>
            Actuellement, ce site est en cours de développement et sera pleinement opérationnel d'ici la fin du mois de septembre. Nous invitons ceux qui souhaitent rejoindre notre association à rester attentifs à l'ouverture des adhésions en ligne très prochainement. 
        </p>
        <aside>
            <h3>Nous contacter</h3>
            <p>
                Pour toute demande urgente, vous pouvez nous envoyer un email à : <a href="mailto:contact@asso-renais-sance.fr">contact@asso-renais-sance.fr</a>, ou nous appeler au : <a href="tel:+33605678513">0605678513</a>.
            </p>
        </aside>
        <p class="btn-about"><a href="index.php?route=home" classe="about-button">Retour à l'accueil</a></p>
  
    </section>

{% endblock %}
