{% extends "layout.html.twig" %}

{%block main %}

<section class="contact-section">
    <h2>Nous contacter</h2>
    <p>Vous souhaitez nous rendre visite ? Notre siège est situé à l’adresse indiquée sur la carte ci-dessous. N’hésitez pas à utiliser Google Maps pour obtenir un itinéraire personnalisé et faciliter votre venue.</p>
    <p>Pour toute correspondance par écrit, vous pouvez remplir le formulaire de contact ci-dessous. Nous vous répondrons dans les meilleurs délais.</p>
    <p>Vous pouvez également nous contacter par téléphone au <a href="tel:+33605678513">0605678513</a>. Nous sommes ouverts tous les jours, du lundi au vendredi, de 10h00 à 16h00.</p>
  </section>

  {% endblock %}

  {% block footer %}
    {% include "footer.html.twig" %}  
  {% endblock %}