{% extends "layout.html.twig" %}

{% block main %}
    <section class="donation-success-container">
        <h1>Merci pour votre don !</h1>
        <p>Votre soutien est précieux et nous aide à poursuivre notre mission.</p>
        <p>Si vous avez des questions ou si vous avez besoin d'assistance supplémentaire, n'hésitez pas à nous contacter.</p>
        <a href="index.php?route=home" class="btn btn-primary">Retour à la page d'accueil</a>
    </section>
{% endblock %}