{% extends "layout.html.twig" %}

{% block main %}
    <section class="donation-success-container">
        <h2>Merci pour votre don !</h2>
        <p>Votre soutien est précieux et nous aide à poursuivre notre mission.</p>
        <p>Si vous avez des questions ou avez besoin d'assistance supplémentaire, n'hésitez pas à nous contacter.</p>
        <a href="index.php?route=home">Retour à la page d'accueil</a>
    </section>
{% endblock %}