{% block header %}
    
    <!-- Menu -->
    <nav id="menu">
        <!-- logo -->
        <div class="logo-container">
            <img src="./assets/images/logo-asso-renais-sance.jpg" alt="logo de l'association renais'sance">
        </div>
        <!-- Title of the plateform-->
        <h1>Association Renais'sance</h1>
        <!-- Hamburger menu icon -->
        <button id="menu-icon">
            <i class="fas fa-bars"></i>
        </button>
        <ul class="display-none">
            <li><a href="index.php?route=membership-register">Adhésion</a></li>
            <li><a href="index.php?route=donation">Faire un don</a></li>
            <!--<li class="responsive-off"><a href="index.php?route=home">Evénements</a></li>-->
            <li><a href="index.php?route=contact">Contact</a></li>
            <li><a href="index.php?route=about">À Propos</a></li>
            <li><a href="index.php?route=legal-notice" aria-label="Mentions légales">Mentions légales</a></li>
        </ul>
    </nav>
    
{% endblock %}