{% extends "layout.html.twig" %}

{% block title %}Fiche d'adhésion à l'association Renais'sance{% endblock %}
{% block meta_description %}
   Adhérer à l'association Renais'sance pour reussir sa réinsertion dans la société.
{% endblock %}
{% block meta_keywords %}
    Adhérer, association.
{% endblock %}

{% block main %}
    <div class="membership-form">
        <!-- Alert message Modal div -->
        <div id="errorModal" class="modal">
            <div class="modal-content">
                <span class="close-btn">&times;</span>
                <h2 id="error-message"></h2>
            </div>
        </div>

        <div class="form-member-container">
            <!-- Registration Form -->
            <form action="index.php?route=check-membership-register" method="POST" id="registerForm" enctype="multipart/form-data">
                <legend class="membership-form-h">Formulaire d'adhésion et de partenariat</legend>
                <!-- Token field -->
                <input type="hidden" name="csrf-token" id="csrf-token" value="{{ csrf_token }}" >

                <!-- civility selection field -->
                <fieldset id="civility">
                    <label for="civility">Civilité:</label>
                    <select id="civility" name="civility" required>
                        <option value="" disabled selected>Choisissez la civilité</option>
                        <option value="Madame">Madame</option>
                        <option value="Monsieur">Monsieur</option>
                        <option value="Autre">Autre</option>
                    </select>
                </fieldset>
            
                <!-- Role selection field -->
                <fieldset id="role">
                    <label for="idRole">Rôle :</label>
                    <select id="idRole" name="idRole" required>
                        <option value="" disabled selected>Choisissez un rôle</option>
                        <!-- Loop to display role selection options -->
                        {% for role in roles %}
                        <option value="{{ role.id }}">
                             {{ role.name }}
                        </option>
                        {% endfor %}
                    </select>
                </fieldset>
                
                <!-- First name field -->
                <fieldset class="firstNameField">
                    <label for="firstName">Prénom :</label>
                    <input type="text" id="firstName" name="firstName" placeholder="Prénom" required>
                </fieldset>
            
                <!-- Last name field -->
                <fieldset class="lastNameField">
                    <label for="lastName">Nom :</label>
                    <input type="text" id="lastName" name="lastName" placeholder="Nom" required>
                </fieldset>
            
                <!-- Email field -->
                <fieldset class="emailField">
                    <label for="email">Email :</label>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </fieldset>
            
                <!-- Phone field -->
                <fieldset class="phoneField">
                    <label for="phone">Numéro de téléphone:</label>
                    <input type="tel" id="phone" name="phone" placeholder="Numéro de téléphone" required>
                </fieldset>
            
                <!-- Address field -->
                <fieldset class="addressField">
                    <label for="address">Adresse :</label>
                    <input type="text" id="address" name="address" placeholder="Adresse" required>
                </fieldset>

                <!-- Postal code field -->
                <fieldset class="postalCodeField">
                   <label for="postalCode">Code postal:</label>
                    <input type="text" id="postalCode" name="postalCode" placeholder="code postal" required>
                </fieldset>

                <!-- Company Name field (hidden initially) -->
                <fieldset class="companyNameField" id="companyNameField" style="display: none;">
                    <label for="companyName">Nom de l'entreprise :</label>
                    <input type="text" id="companyName" name="companyName" placeholder="Nom de l'entreprise">
                </fieldset>

                <!-- Logo field (hidden initially) -->
                <fieldset class="logoField" id="logoField" style="display: none;">
                    <label for="logo">Logo :</label>
                    <input type="file" id="logo" name="logo" accept="image/*">
                </fieldset>

                <!-- Payment question -->
            <!--   <fieldset class="paymentQuestionField" id="paymentQuestionField" style="display: none;">
                    <legend class="label-question">Souhaitez-vous régler le frais d'adhésion dès maintenant ?</legend>
                    <select id="payNow" name="payNow" required onchange="toggleMembershipFee()">
                        <option value="" disabled selected>Choisissez une option</option>
                        <option id ="paiement-yes" value="yes">Oui</option>
                        <option value="no">Non</option>
                    </select>
                </fieldset>

                <fieldset class="payment-option" id="payment-option" style="display: none;"> --> 
                    <!-- Membership Fee field (hidden initially) -->
            <!--    <fieldset class="membershipFeeField" id="membershipFeeField">
                        <legend class="label-question">Frais d'adhésion :</legend>
                        <label for="membershipFee" class="label-question">Frais d'adhésion :</label>
                        <input type="number" id="membershipFee" name="membershipFee" value="10" readonly required>
                        <span>€</span>
                    </fieldset>

                    <div id="payment-element" >-->
                        <!--Stripe.js injects the Payment Element-->
                <!--</div>
                
                    <button id="submit" disabled="disabled">
                        <div class="spinner hidden" id="spinner"></div>
                        <span id="button-text">Payer le frais d'adhésion</span>
                    </button>
                    <div id="payment-message" class="hidden"></div>
                </fieldset>--> 
            
                <!-- Registration button -->
                <button type="submit" id="submitButton">Adhérer</button>
        
            </form>
        </div>
    
    </div>

{% endblock %}

{% block scripts %}
    <script src="./assets/js/membership.js"></script>
    <!--<script src="./assets/js/membershipFeeCheckout.js"></script>-->
    <script src="./assets/js/error.js"></script>
{% endblock %} 
