{% extends "layout.html.twig" %}

{% block main %}
    <section class="registerSuccess-container">
        <h1>Votre mot de passe a été mise à jour</h1>
        <p><a href="index.php?route=connexion" class="btn">Se connecter</a></p>
</section>
{% endblock %}